/vendor
/android-customer/.gradle
/android-customer/local.properties
/android-customer/**/build
!/storage/app/releases/quickwash-customer.apk
/node_modules
/public/hot
/public/storage
/storage/*.key
/.env
/.env.backup
/.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
.idea
.vscode
